*.root
*.o 
GenD0
GenD0892
GenD0B
GenD0B892
GenD0Bar
DP4
DP4KKPiPi
FitKKPiPi
FitKKPiPi892
FitKKPiPiDec14
GoodThingYouHaveMe
K1M2Kstar
K1M2Kstar892
K1P2Kstar
K1P2Kstar892
KstarKstar
KstarKstar892
KstarM2Kstar
KstarM2Kstar892
KstarP2Kstar
KstarP2Kstar892
